header{
  height: 10vh;
  display: flex;
  justify-content: space-between;

}

img{
  height: 50px;
  width: 50px;
}



li{
  list-style-type: none;
  text-decoration: none;
  display: flex;
}

.list{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}